body{
    background-image: url(../img/background-01.jpg);
    background-size:  100%;
    background-repeat: no-repeat;

}

.navbar{
    text-align: center;
    width: 95%;
    height: 40px;
    background-color: rgb(40 40 52 / 89%);
    padding-top: 25px;
    border-radius: 6px;
    margin-top: 25px;
    margin: auto; 

    

}

.navbar a{
    color: white;
    text-decoration: none;
    padding-left: 150px;
    padding-right: 125px;
    /* margin-left: 100px; */


}

.txt{
    width: 500px;
    height: fit-content;
    text-align: left;
    color: white;
    margin-left: 90px;
}

.btn{
    margin-left: 250px;
    padding-top: 10px;
    margin-bottom: 250px;
    background-color: green;
    border-radius:5px;
    color: white;
    width: 100px;
    height: 30px;
    text-align: center;

}
.box{
    display: inline-block;
    width: calc(95%/3);
    /* border: 3px white solid; */
    text-align: center;
    margin-left: 25px;

}

.box img{
    width: 90%;
}
